@import 'tailwindcss';


.enlace-sin-estilo {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.enlace-sin-estilo:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: black;
}
